<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>View</title>
</head>
<body>
	제목 : {{ article.title }} 
	<br>
	저자 :  {{ article.user }} 
	<br>
	내용 : {{ article.contents}}
	<br>
	Email : {{ article.email}}
	<br>
    {% if article.cdate %}
        <div class="date">
            {{ article.cdate }}
        </div>
    {% endif %}
    {% if article.image %}
        <div class="date">
            <p><img style="width: 300px;height: 300px;" src="{{article.image.url}}" /></p>
        </div>
    {% endif %}
    <a class="btn btn-default" href="{% url 'blog:article_remove' pk=article.pk %}">삭제</a>
</body>
</html>